biosppy==2.2.2
flwr[simulation]==1.14.0
imbalanced-learn==0.12.4
matplotlib==3.9.3
numpy==1.26.4
pandas==2.2.3
pymongo==4.10.1
scikeras==0.13.0
scikit-learn==1.6.0
tensorflow==2.17.1
xgboost==3.0.0
seaborn==0.13.2
jupyterlab==4.3.6
black==24.10.0
ruff==0.8.2
neurokit2==0.2.10
PyWavelets==1.8.0
tqdm==4.67.1
joblib==1.4.2
pyarrow==19.0.1