biosppy==2.2.2
flwr==1.8.0
imbalanced-learn==0.12.2
keras==3.3.3
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
pymongo==4.7.0
scikeras==0.13.0
scikit-learn==1.4.2
tensorflow==2.16.1
xgboost==2.0.3
black==24.4.2
ruff==0.4.2